.contact-list {
      .fa {
          width: 15px;
          text-align: center;
      }
      .fa-mobile {
        font-size: 21px;
      }
      .contact-header-name {
        margin-left: 10px;
      }
}
