.course-list {
  .panel-course {
    margin-bottom: 5px;
  }

  .expression-label {
    font-size: 16px;
  }
  .teacher-name {
    font-size: 14px;
    padding-left: 5px;
  }
  .panel-body {
    padding: 5px;
  }
  .attendance {
    font-size: 14px;
  }
  .grade-container {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
