.course-list {
  .panel-course {
    margin-bottom: 5px;
  }

  .expression-label {
    font-size: 16px;
  }
  .teacher-name {
    font-size: 14px;
    padding-left: 5px;
  }
  .panel-body {
    padding: 5px;
  }
  .attendance {
    font-size: 14px;
  }
  .attendance-container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .term-header, .grade-container {
    text-align: center;
    &:nth-child(1) {
      margin-left: -20px;
    }
  }
}

.gpa-list .gpa-container {
  text-align: center;
}
