.result {
  .card {
    .button-container {
      margin-top: -5px;
    }

    .card-title.test-name-container {
      width: 70%;
    }
    .card-title.button-container {
      width: 30%;
    }
  }

  .composite-score,
  .composite-score-header {
    text-align: center;
  }

  .test-score-name {
    font-weight: bold;
  }
}

.grade-result-list .col-md-3:nth-child(4n+1) {
  clear: both;
}

@media print {
  h3 {
    font-size: 17px !important;
  }
  h2 {
    font-size: 14px !important;
  }
  .result .panel {
    margin-bottom: 0 !important;
    page-break-inside: avoid;
  }
  .grade-result-list-container {
    page-break-inside: avoid;
  }
}