<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script>
        window.iFrameResizer = {
            targetOrigin: '<%= htmlWebpackPlugin.options.psHost %>'
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.contentWindow.js"></script>

    <% if (htmlWebpackPlugin.options.target === 'dev') { %>
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.target === 'prod') { %>
        <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <% } %>
</head>

<body>
    <!-- compiled content.html goes here -->
    <div class="container-fluid">
        <div id="profile-container"></div>
    </div>
    <!-- end .container-fluid -->
</body>

</html>
