.overview-table {
    font-size: 13px;
}

.overview-table .borderless td, .overview-table .borderless th {
    border: none;
}

.grade-cell {
    text-align: center;
}

.panel-legal-guardian {
    float: right;
}

#student-contacts-container {
    padding-top: 15px;
}

.table-schedule {
    font-size: 12px;
}

.label-container {
    padding-top: 7px;
}

#student-contacts-container .col-lg-4:nth-child(3n+1) {
    clear: both;
}

.panel-legal-guardian {
  margin-top: 5px;
}
